*,*::after,*::before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

#header{
    background-color: rgb(124, 124, 124);
}
#content{
    background-color: rgb(66, 73, 104);
    color: #fff;
}