*,*::after,*::before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.conteiner{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

.header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 60;
}

.header:before{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #242b2e;
}

.header__body{
    position: relative;
    display: flex;
    /* justify-content: space-between; */
    height:  80px;
    width: 40%;
    align-items: center;
    padding: 0px 20px;
    z-index: 2;
}

.header__burger{
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
    margin: 0 20px;
}

.header__burger span{
    background: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
}

.header__burger::before,
.header__burger::after {
    content: "";
    background: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
}

.header__burger:before{
    top: 0;
}

.header__burger:after{
    bottom: 0;
}

.header__burger.active::before{
    transform: rotate(45deg);
    top: 9px;
}
.header__burger.active::after{
    transform: rotate(-45deg);
    bottom: 9px;
}

.header__burger.active span{
    transform: scale(0); /*центральная линия значка бургера*/
}

.header__logo{
    flex: 0 0 70px;
    border-radius: 50%;
    overflow: hidden; /*управляет отображением содержания блочного элемента, если оно целиком не помещается и выходит за область заданных размеров.*/
    margin: 0 20px;
    position: relative;
    z-index: 3;
}

.header__logo img{
    max-width: 100%;
    display: block;
}

/*стили меню*/

.menu {
    padding-top: 80px;
    display: flex;
}

.menu nav{
    position: fixed;
    display: block;
    top: 0;
    left: -100%;
    width: 15%;
    height: 100%;
    overflow: auto;
    background-color: #242b2e;
    transition: all 0.3s ease 0s;
    padding: 70px 0px 10px 0px;
}

.menu .active{
    left: 0;
}

.menu__nav{
    margin: 10px 0;
}

.menu__list{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 140%;
}

.menu__list li{
    margin: 0px 0px;
    list-style: none;
    text-align: right;
    background: linear-gradient(180deg, #333b3f ,#2e363a);
    text-align: right;
    padding: 20px 25px;
    transition-duration: 0.3s;
}

.menu__list li:hover{
    padding: 20px 30px;
    color: #166b8f;
}

.menu__link{
    color: #fff;
    text-decoration: none;
    
}

.menu__tags{
    margin: 10px 5px;
}

.menu__tag__list{
    padding: 0;
    margin: 0;
}

.menu__tag__link{
    background-color: #212425;
    padding: 3px;
    margin: 5px 2px;
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.menu__tag__link:hover{
    box-shadow: 0px 0px 12px #000;
    color: #166b8f;
}

/*стили контента*/

#content{
    color: rgb(24, 23, 23);
    padding: 10px 10px 10px 10px;
}